.pagination {
  display: flex;
  max-width: 100rem;
  padding: 1rem 0;
  margin: 0 auto;
  font-size: 2.4rem;
  font-weight: 500;

  &__button {
    padding: 1rem;
    border: 0;
    background: none;
    color: inherit;
    cursor: pointer;
    font-size: inherit;
    font-weight: inherit;
    transition: color 0.1s;

    &:hover,
    &_active {
      color: var(--green);
    }
  }

  &__pageButtons {
    display: flex;
    flex: 1;
    justify-content: center;
    list-style-type: none;
  }
}
