.pagination {
  display: flex;
  padding: 1rem 3rem 0;
  font-size: 2.4rem;
  font-weight: 500;

  &__button {
    padding: 1rem;
    border: 0;
    background: none;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    transition: color 0.1s;

    &:hover,
    &_active {
      color: var(--green);
    }
  }

  &__pageButtons {
    display: flex;
    flex: 1;
    justify-content: center;
    font-style: italic;
    list-style-type: none;
  }

  @media screen and (max-width: 40rem) {
    &__pageButtons {
      display: none;
    }

    & > * {
      flex: 1;
    }
  }
}
