.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 22px;
  border: 2px solid;
  border-radius: 40px;
  color: var(--green);
  transform: translate(-50%, -50%);
}
.loader::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 25%;
  margin: 2px;
  animation: loader 1s infinite linear;
  background: currentColor;
  border-radius: inherit;
  content: '';
}
@keyframes loader {
  50% {
    left: 100%;
    transform: translateX(calc(-100% - 4px));
  }
}
