.app {
  display: flex;
  width: 110rem;
  max-width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  padding: 2.3rem;
  margin: 0 auto;

  & > * + * {
    margin-top: 1.6rem;
  }

  &__pagination {
    display: flex;
    flex: 1;
    align-items: flex-end;
  }
}
