.table {
  width: 100%;
  border: 0.1rem solid var(--gray-light);
  border-top: 0;
  border-collapse: collapse;
  font-size: 1.3rem;
  font-weight: 500;

  thead {
    background-color: var(--dark);
    color: var(--light);
    font-size: 1.4rem;
    font-weight: 600;
  }

  th + th {
    min-width: 45%;
  }

  th {
    overflow: hidden;
    max-height: 2rem;

    button {
      position: relative;
      width: 100%;
      padding: 1.6rem 0.8rem;
      border: 0;
      background: none;
      border-radius: 0;
      color: inherit;
      cursor: pointer;
      font-weight: inherit;
      transition: color 0.1s;

      & > * + * {
        margin-left: 2.6rem;
      }

      &:hover {
        color: var(--green);
      }

      svg {
        position: absolute;
        top: 45%;
        opacity: 0;

        &.order {
          opacity: 1;
        }
      }
    }
  }
  td {
    padding: 0.8rem;
  }

  td:first-of-type {
    text-align: center;
  }

  td + td {
    min-width: 45%;
    border-left: 0.1rem solid var(--gray-light);
  }

  tr {
    height: 5.8rem;
    border-top: 0.1rem solid var(--gray-light);
  }
}

.message {
  padding: 5rem;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.order {
  &_asc {
  }
  &_desc {
    transform: rotate(180deg);
  }
}
